<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>LogIn</display-name>
    <servlet-name>LogIn</servlet-name>
    <servlet-class>com.informatics.logIn.LogIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogIn</servlet-name>
    <url-pattern>/LogIn</url-pattern>
  </servlet-mapping>
  <display-name>Course_work</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.informatics.register.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogIN</display-name>
    <servlet-name>LogIN</servlet-name>
    <servlet-class>com.informatics.logIn.LogIN</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogIN</servlet-name>
    <url-pattern>/LogIN</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomePage</display-name>
    <servlet-name>HomePage</servlet-name>
    <servlet-class>com.informatics.homePage.HomePage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomePage</servlet-name>
    <url-pattern>/HomePage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOut</display-name>
    <servlet-name>LogOut</servlet-name>
    <servlet-class>com.informatics.logOut.LogOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOut</servlet-name>
    <url-pattern>/LogOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminPage</display-name>
    <servlet-name>AdminPage</servlet-name>
    <servlet-class>com.informatics.adminPage.AdminPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminPage</servlet-name>
    <url-pattern>/AdminPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCategory</display-name>
    <servlet-name>AddCategory</servlet-name>
    <servlet-class>com.informnatics.addCategory.AddCategory</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>AddProduct</display-name>
    <servlet-name>AddProduct</servlet-name>
    <servlet-class>com.informatics.addProduct.AddProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProduct</servlet-name>
    <url-pattern>/AddProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRecords</display-name>
    <servlet-name>UserRecords</servlet-name>
    <servlet-class>com.informatics.UserRecords.UserRecords</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRecords</servlet-name>
    <url-pattern>/UserRecords</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editProductDetails</display-name>
    <servlet-name>editProductDetails</servlet-name>
    <servlet-class>com.informatics.editProductDetails.editProductDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editProductDetails</servlet-name>
    <url-pattern>/editProductDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveUpdatedRecords</display-name>
    <servlet-name>SaveUpdatedRecords</servlet-name>
    <servlet-class>com.informatics.SaveUpdatedRecords.SaveUpdatedRecords</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveUpdatedRecords</servlet-name>
    <url-pattern>/SaveUpdatedRecords</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCart</display-name>
    <servlet-name>AddToCart</servlet-name>
    <servlet-class>AddToCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCart</servlet-name>
    <url-pattern>/AddToCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCartServlet</display-name>
    <servlet-name>AddToCartServlet</servlet-name>
    <servlet-class>AddToCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCartServlet</servlet-name>
    <url-pattern>/AddToCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProductQuantityServlet</display-name>
    <servlet-name>UpdateProductQuantityServlet</servlet-name>
    <servlet-class>UpdateProductQuantityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProductQuantityServlet</servlet-name>
    <url-pattern>/UpdateProductQuantityServlet</url-pattern>
  </servlet-mapping>
</web-app>